.cart-heading {
    padding-bottom: 8rem;
}

.cart-item {
    padding: 3rem;
    &__img {
        max-width: 35rem;
    }
    &__content {
        margin-top: 1.6rem;
        height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    @include tablette-only {
        padding: 3rem 10%;
        display: flex;
        &__img {
            width: 50%;
            margin-right: 15%;
        }
        &__content {
            margin-top: 0;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
}

.cart__price {
    font-size: 2.2rem;
    margin: 3rem 0 5rem;
    @include tablette-only {
        text-align: right;
    }
}